* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: $primary;
  min-height: 100vh;
}

input {
  border: none;
}

button {
  border: none;
}

p,
a {
  font-family: $font-body;
}

li {
  font-family: $font-body;
}
