.card {
  background-color: $secondary;
  border: 1px solid #fff;
  box-shadow: 5px 5px #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  min-height: 300px;
  padding: 10px;
  width: 230px;
}

.card-btns {
  display: flex;
  justify-content: space-between;
}

.card-img {
  border-radius: 5px;
  display: block;
  margin: auto;
  margin-top: -20px;
  width: 150px;
}

.card-name {
  color: $lightColor;
  font-family: $font-bold;
  font-size: 1em;
  text-align: center;
  padding: 10px;
}

.btn-fav {
  background-image: url("../images/fav.png");
  cursor: pointer;
  font-family: $font-bold;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  background-color: transparent;
  background-size: contain;
  z-index: 1;
}

.btn-fav-active {
  background-image: url("../images/fav-active.png");
  cursor: pointer;
  font-family: $font-bold;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  background-color: transparent;
  background-size: contain;
  z-index: 1;
}

.btn-fav:hover,
.btn-fav-active:hover {
  background-color: $primary;
  border: 1px solid $lightColor;
  border-radius: 30px;
  color: $lightColor;
}

.btn-own {
  background-image: url("../images/own.png");
  cursor: pointer;
  font-family: $font-bold;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  background-color: transparent;
  background-size: contain;
  z-index: 1;
}

.btn-own-active {
  background-image: url("../images/own-active.png");
  cursor: pointer;
  font-family: $font-bold;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  background-color: transparent;
  background-size: contain;
  z-index: 1;
}

.btn-own:hover,
.btn-own-active:hover {
  background-color: $primary;
  border: 1px solid $lightColor;
  border-radius: 30px;
  color: $lightColor;
}

.bottom-card {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.details-btn {
  background-color: $primary;
  color: $lightColor;
  cursor: pointer;
  padding: 10px;
}

.details-btn:hover {
  border: 1px solid $lightColor;
}
