.card-details {
  background-color: $secondary;
  margin: auto;
  padding: 20px;
  width: 50%;
}

.details-img {
  max-width: 200px;
  text-align: center;
}

.card-descrip {
  color: $lightColor;
  font-weight: bold;
  padding: 5px;
}

.card-info {
  color: $lightColor;
  font-weight: normal;
}
