.card-details {
  background-color: $secondary;
  margin: auto;
  padding: 20px;
  width: 50%;
}

.back-btn {
  cursor: pointer;
  display: block;
  font-family: $font-bold;
  font-size: 0.9em;
  height: 30px;
  margin: auto;
  margin-bottom: 20px;
  text-decoration: none;
  width: 200px;
}

.back-btn:hover {
  background-color: $primary;
  border: 1px solid $lightColor;
  color: $lightColor;
}

.edit-card {
  background-color: $primary;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 200px;
}

.edit-input {
  font-family: $font-bold;
  height: 30px;
  margin: 10px 0;
  text-align: center;
  width: 200px;
}

.edit-btn {
  cursor: pointer;
  font-family: $font-bold;
  height: 30px;
  margin: 10px 0;
  width: 200px;
}

.edit-btn:hover {
  background-color: $primary;
  border: 1px solid $lightColor;
  color: $lightColor;
}

.details-img {
  max-width: 300px;
  margin: 20px 0;
  text-align: center;
}

.card-detail-name {
  font-family: $font-bold;
}

ul {
  padding-left: 35px;
}

.card-descrip {
  color: $lightColor;
  font-weight: bold;
  padding: 5px;
}

.card-info {
  color: $lightColor;
  font-weight: normal;
}
