.card {
  background-color: $secondary;
  border: 1px solid #fff;
  box-shadow: 5px 5px #fff;
  margin: 20px;
  min-height: 300px;
  padding: 10px;
  width: 230px;
}

.card-btns {
  display: flex;
  justify-content: space-between;
}

.card-img {
  border-radius: 5px;
  display: block;
  margin: auto;
  margin-top: -20px;
  width: 150px;
}

.card-name {
  color: $lightColor;
  font-family: $font-bold;
  font-size: 1em;
  text-align: center;
  padding: 10px;
}

.btn-fav {
  border: 1px solid $primary;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: #ced2d2;
  border-radius: 50%;
  font-family: $font-bold;
  z-index: 1;
}

.btn-fav-active {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  font-family: $font-bold;
  z-index: 1;
}

.btn-fav:hover,
.btn-fav-active:hover {
  background-color: $primary;
  border: 1px solid $lightColor;
  color: $lightColor;
}

.btn-own {
  background: #ced2d2;
  border: 1px solid $primary;
  cursor: pointer;
  height: 45px;
  font-family: $font-bold;
  width: 45px;
  z-index: 1;
}

.btn-own-active {
  background: blue;
  cursor: pointer;
  height: 45px;
  font-family: $font-bold;
  width: 45px;
  z-index: 1;
}

.btn-own:hover,
.btn-own-active:hover {
  background-color: $primary;
  border: 1px solid $lightColor;
  color: $lightColor;
}

.bottom-card {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.details-btn {
  background-color: $primary;
  color: $lightColor;
  cursor: pointer;
  padding: 10px;
}

.details-btn:hover {
  border: 1px solid $lightColor;
}
