.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

h1 {
  color: $lightColor;
  font-family: $font-bold;
  font-size: 2em;
}

.nav-btn {
  cursor: pointer;
  font-family: $font-bold;
  font-size: 0.7em;
  height: 30px;
  margin: 0 10px;
  width: 200px;
}

.nav-btn:hover {
  background-color: $primary;
  border: 1px solid $lightColor;
  color: $lightColor;
}
