.search-form {
  background-color: $secondary;
  border: 1px solid #fff;
  box-shadow: 5px 5px #fff;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

.search {
  margin: 15px;
  padding: 10px;
}

.search-input {
  text-align: center;
}
