.search-form {
  background-color: $secondary;
  border: 1px solid #fff;
  box-shadow: 5px 5px #fff;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

.search {
  font-family: $font-bold;
  margin: 15px;
  padding: 10px;
}

.search-btn:hover {
  background-color: $primary;
  border: 1px solid $lightColor;
  color: $lightColor;
  cursor: pointer;
}

.search-input {
  text-align: center;
}
