@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

$font-bold: "Cinzel Decorative", cursive;
$font-body: "Open Sans", sans-serif;

$primary: #1c1e1f;
$secondary: #303942;
$lightColor: #fff;
